---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>👋 Heya!</h1>
			<p>
				The domain you were connected to has been parked by Lumi Results.
			</p>

			<h3>What's this mean?</h3>
			<p>
				The developer of the website has parked their site with our agency's services.
			</p>
		</main>
		<Footer />
	</body>
</html>
